<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7aa6a69b-0eff-41b9-8867-23c3514dca31/resourceGroups/API/providers/Microsoft.ContainerRegistry/registries/poc1mic1</ResourceId>
    <ResourceName>poc1mic1</ResourceName>
    <ResourceGroup>API</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://poc1mic1.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d11eba36-c628-4520-8629-8eb66f68ab93</ProjectGuid>
  </PropertyGroup>
</Project>